absl-py==1.1.0
astunparse==1.6.3
cachetools==4.2.4
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.1.3
cycler==0.11.0
fonttools==4.33.3
gast==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
h5py==2.10.0
idna==3.3
importlib-metadata==4.11.4
joblib==1.1.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
Markdown==3.3.7
matplotlib==3.5.2
numpy==1.23.0
oauthlib==3.2.0
ont-fast5-api==4.0.2
opt-einsum==3.3.0
packaging==21.3
Pillow==9.1.1
progressbar33==2.4
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.28.0
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.1.1
scipy==1.4.1
six==1.16.0
sklearn==0.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
threadpoolctl==3.1.0
urllib3==1.26.9
Werkzeug==2.1.2
wrapt==1.14.1
zipp==3.8.0
